body{
/* background-color: #7066a2; */
background:linear-gradient(to bottom,#7066a2 30%,#9F86C0, #b78dbd 85%);
}

div.title{
    margin:auto;
    /* border: 1px solid #777; */
    padding-right:30px;
    padding-left:30px;
    width:fit-content;
    background:linear-gradient(to right,#7066a2 0% ,#9F86C0 15% 85%,#7066a2);
}

h1{
    text-align: center;
    color: #231942;
    font-size: 60px;
}
div.information{
    width: 100%;
    height: 100%;
    /* border:1px solid; */
    display: flex;
    flex-direction: column;

}
div.card{
    width: 100%;
    /* border:1px solid; */
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}
div.basicInformation{
    /* border: 1px solid #777; */
    width:300px;
    /* margin-right :20px; */
}

div.photo{ 
    width: 300px;
    height:200px;
    width: fit-content;
    border: 5px whitesmoke solid;
    /* border: 1px solid #777; */
}

img{
    height:100%;
    object-fit: contain;
    border-radius: 15px;
}

div.text{
    padding-top: 3%;
    /* border: #AAA694 solid 1px; */
    width: fit-content;
}
div.text p{
    margin: 0px;
    margin-left: 20px;
    color: #231942;
    width: fit-content;
    font-size: large;
    font-weight: bold;
}
#name{
    font-size: 30px;
    font-weight: bolder;
}

div.introduction{
    width:0px;
    height:0px;
    overflow:hidden;
}
/*懸停在.basicInformation時，後面所有.introduction都會影響*/
.card:hover .introduction{ 
    width: 600px;
    padding: 20px 20px 30px 100px;
    border-radius: 20px;
    background-color: #BE95C4;
    color: #faf9fb;
    overflow:visible;
    height: 300px;
    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 12% 100%, 12% 39%, 0 21%, 12% 20%);
}
 