body{
background-color: #5E548E;
}

div.title{
    margin:auto;
    /* border: 1px solid #777; */
    padding-right:30px;
    padding-left:30px;
    width:fit-content;
    background:linear-gradient(to right,#5E548E 0% ,#9F86C0 15% 85%,#5E548E);
}

h1{
    text-align: center;
    color: #231942;
    font-size: 60px;
}
div.information{
    width: 100%;
    height: 100%;
    /* border:1px solid; */
    display: flex;
    flex-direction: column;
}
div.card{
    width: 100%;
    /* border:1px solid; */
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}
div.basicInformation{
    /* border: 1px solid #777; */
    width:300px;
    margin-right :30px;
}

div.photo{ 
    width: 300px;
    height:200px;
    width: fit-content;
    border: 5px whitesmoke solid;
    /* border: 1px solid #777; */
}

img{
    height:100%;
    object-fit: contain;
    border-radius: 15px;
}

div.text{
    padding-top: 3%;
    /* border: #AAA694 solid 1px; */
    width: fit-content;
}
div.text p{
    margin: 0px;
    margin-left: 20px;
    color: #231942;
    width: fit-content;
    font-size: large;
    font-weight: bold;
}
#name{
    font-size: 30px;
    font-weight: bolder;
}

div.introduction{
    /* border: #504826 groove 5px; */
    width: fit-content;
    width: 600px;
    min-width: 100px;
    padding: 20px;
    background-color: #5E548E;
    color: #5E548E;
    border-radius: 20px;
}

.basicInformation:hover~.introduction{ 
    background-color: #BE95C4;
    color: #231942;
}