body{
    margin: 0;
}
.title-bar{
    background-color: #59b1d4;
    height: 8px;
    width: 100vw;
}
.title{
    display: inline-block;
    width: 100vw;
    height:78px;
    background-color:#59b1d4;
    margin-top: 8px;
}
.title-link{
    color:#f3e8b2;
    display: inline-block;
    /* margin-top: 15px; */
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;  
}
.ntcu-title{
    display: inline-block;
    margin: 3px 0px;
}
.title-en{
    display: inline-block;
    position: relative;
    left: 2%;
    top: -2px;
    font-family: "Trebuchet MS"; 
    font-size:13px;
}
.cs-title{
    display: inline-block;
    font-size:30px;
    letter-spacing: 8px;
    margin: 0px -8px 0px 10px;
}
p, a{
    margin-top: 1%;
    margin-bottom: 0;
    font-weight: 600;
}